div.overflow-hidden {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
}
.landing-header {
    font: bold 16vw Georgia, serif;
    text-align: center;
    margin-top: 5vw;
}
.landing-subheader {
    font: bold 4vw arial, sans-serif;
    text-align: center;
    margin-bottom: 2vw;
    color: #800;
}
.landing-footer {
    font: 8pt arial, sans-serif;
    text-align: right;
    margin: 50px;
}
.button-wrapper {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
html, body, div {
    background-image: url('../images/white_wall.png');
}
div#note {
    margin: 1vw;
    position: absolute;
    left: 0;
    top: 0;
    width: 48vw;
    height: 98vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
md#md-note {
    left: 0;
    top: 0;
    width: 48vw;
}
textarea#editor {
    position: absolute;
    left: 50vw;
    top: 0;
    width: 48vw;
    height: 98vh !important;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-container {
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0vw;
}
#search {
  height: 60px;
}
.thumb-container {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 400px;
  margin: 50px;
}
.thumb {
  overflow: hidden;
  padding: 20px;
  margin: 30px;
  border: solid 2px #ccc;
  display: inline-block;
  width: 320px;
  height: 360px;
  vertical-align: top;
  cursor: pointer;
}
.thumb.selected {
  border: solid 2px #38c;
}
